<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DataSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="SystemDataDB" connectionString="data source=localhost;initial catalog=SystemData;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="SystemDataDB" connectionString="Data Source=10.17.64.253;Initial Catalog=SystemData;Persist Security Info=True;User ID=Teacher;Password=19880904;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <userSettings>
    <DataSystem.Properties.Settings>
      <setting name="Name" serializeAs="String">
        <value>xyl</value>
      </setting>
    </DataSystem.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDataServer" maxReceivedMessageSize="6553600"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8081/WCF/DataServer.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataServer" contract="DataServerReference.IDataServer" name="BasicHttpBinding_IDataServer"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
