<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClientSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDataServer" maxReceivedMessageSize="6553600"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint
        address="http://localhost:8081/WCF/DataServer.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataServer"
        contract="DataServerReference.IDataServer" name="BasicHttpBinding_IDataServer" />
    </client>

    <!--<client>
      <endpoint address="http://xyl19880904.club:89/classapp/WCF/DataServer.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataServer" contract="DataServerReference.IDataServer" name="BasicHttpBinding_IDataServer"/>
    </client>-->
  </system.serviceModel>
  <userSettings>
    <ClientSystem.Properties.Settings>
      <setting name="UserName" serializeAs="String">
        <value>xyl</value>
      </setting>
      <setting name="PassWord" serializeAs="String">
        <value>123</value>
      </setting>
      <setting name="AutoLogin" serializeAs="String">
        <value>True</value>
      </setting>
    </ClientSystem.Properties.Settings>
  </userSettings>
</configuration>
